@model IEnumerable<JyoshinmonKarate.Models.MemberGrading>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Passed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeltBefore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeltAfter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Passed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grading.GradingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeltBefore.BeltName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeltAfter.BeltName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MemberGradingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MemberGradingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MemberGradingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
